@import "vendors/include-media",
		"bootstrap-custom",
		"vendors/bootstrap/variables",
		"vendors/bootstrap/mixins",
		"vendors/icomoon",
		"base/mixins",
		"base/helpers",
		"base/general",
		"base/forms",
		"components/buttons",
		"components/social",
		"components/carousel-general",
		"components/carousel-main",
		"components/carousel-work",
		"components/back-top",
		"layout/main-menu",
		"layout/dropdown-main-menu",
		"layout/header",
		"layout/footer",
		"layout/advantages",
		"layout/work",
		"layout/image-block",
		"pages/index";

