.page-content {
	padding: 122px 0;
	@include media("<desktop") {
		padding: 40px 0;
	}
	@include media("print") {
		padding: 10px 0;
	}
}
.description {
	font-size: 22px;
	line-height: 33px;
	color: #73879c;
	max-width: 775px;
	margin: 0 auto 40px;
	text-align: center;
	@include media("<desktop") {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 15px;
	}
	@include media("<phone") {
		font-size: 16px;
		line-height: 22px;
	}
}
.icon-mail {
	font-weight: bold;
}