.navbar-main .main-menu {
	.dropdown-main-menu {
		left: 0;
		top: 49px;
		width: 100%;
		padding: 33px 24px 42px;
		background: #f5f7fa;
		border: 1px solid #e4e8ec;
		border-width: 1px 1px 2px 1px;
		border-radius: 3px;
		z-index: 1;
		@include media("<desktop") {
			padding: 15px 0;
			max-height: 360px;
			overflow-y:auto;
		}
		@include media("<tablet") {
			border-top: none;
			border-radius: 0 0 3px 3px;
		}
		h1 {
			margin: 0 0 23px;
			font-family: $font-family2;
			font-weight: 900;
			font-size: 16px;
			line-height: 18px;
			color: $blue;
			text-transform: uppercase;
			text-align: left;
			@include media("<desktop") {
				font-size: 14px;
				line-height: 16px;
				margin: 0 0 15px;
			}
		}
		.item {
			@include media("<desktop") {
				float: none;
				display: inline-block;
				vertical-align: top;
				width: 49%;
				margin: 0 0 30px;
				font-size: 14px;
			}
			@include media("<tablet") {
				width: 100%;
			}
		}
		.image-block {
			max-width: 240px;
			margin: 0 0 22px;
		}
		.special-list {
			@extend %listreset;
			padding: 0;
			li {
				position: relative;
				padding: 0 0 0 24px;
				margin: 0 0 13px;
				line-height: 14px;
				&:after {
					content:'';
					display:block;
					width: 8px;
					height: 8px;
					border-radius: 50%;
					border: 1px solid $green;
					position: absolute;
					top: 4px;
					left: 3px;
				}
			}
			a {
				@include animate (color, 0.1s);
				color: #73879c;
				&:hover {
					color: $green;
					text-decoration: none;
				}
			}
		}
		.works {
			font-size: 0;
			.image-block {
				width: 48%;
				display: inline-block;
				vertical-align: top;
				margin: 0 2% 5px 0;
				font-size: 16px;
			}
		}
		.btn {
			margin: 10px 0 0;
		}
	}
}