.image-block {
	position: relative;
	&:hover {
		.hover {
			opacity: 1;
		}
	}
	.hover {
		@include animate (opacity, 0.3s);
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		color: #fff;
		width: 100%;
		height: 100%;
		background: rgba(0, 188, 156, 0.85);
		opacity: 0;
		text-align: center;
		transition: opacity 0.3s;
		&:hover {
			text-decoration: none;
		}
		&:before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 20px;
		}
		strong {
			font-family: $font-family2;
			font-size: 16px;
			line-height: 18px;
			display: block;
			margin: 0 0 5px;
		}
	}
	img {
		width: 100%;
	}
}