.main-carousel {
	font-size: 24px;
	line-height: 28px;
	@include media("<widescreen") {
		font-size: 20px;
		line-height: 24px;
	}
	@include media("<desktop") {
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 40px;
	}
	@include media("<phone") {
		font-size: 16px;
		line-height: 20px;
	}
	@include media("print") {
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 60px;
	}
	.owl-wrapper {
		@include media("print") {
			max-width: 100% !important;
			transform: none !important;
		}
	}
	.owl-wrapper-outer {
		margin-bottom: -23px;
		@include media("<widescreen") {
			margin-bottom: 0;
		}
	}
	.carousel-text-holder {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@include media("print") {
			position: static;
		}
	}
	.carousel-text-wrap {
		width: 100%;
		height: 100%;
		display: table;
	}
	.owl-item {
		color: $white;
		@include media("print") {
			width: 100% !important;
		}
		img {
			@include media("<phone") {
				position: absolute;
				top: 0;
				left: 0;
				width: auto;
				height: 100%;
			}
		}
	}
	.carousel-text {
		display: table-cell;
		padding: 85px 0;
		@include media("<widescreen") {
			padding: 40px 0;
		}
		@include media("<desktop") {
			padding: 20px 15px;
		}
		@include media("print") {
			padding: 10px 0;
		}
		&.center-center {
			vertical-align: middle;
			text-align: center;
		}
		&.center-right {
			vertical-align: middle;
			text-align: right;
			@include media("<low-phone") {
				vertical-align: middle;
				text-align: center;
			}
		}
		&.center-left {
			vertical-align: middle;
			text-align: left;
			@include media("<low-phone") {
				vertical-align: middle;
				text-align: center;
			}
		}
		&.top-right {
			vertical-align: top;
			text-align: right;
			@include media("<low-phone") {
				vertical-align: middle;
				text-align: center;
			}
		}
		&.top-center {
			vertical-align: top;
			text-align: center;
			@include media("<low-phone") {
				vertical-align: middle;
				text-align: center;
			}
		}
		.text {
			max-width: 920px;
			display: inline-block;
			@include media("print") {
				display: block;
				text-align: center;
				max-width: none;
			}
		}
	}
	h1 {
		color: $white;
		font-size: 85px;
		line-height: 91px;
		font-weight: bold;
		text-transform: uppercase;
		@include media("<widescreen") {
			font-size: 58px;
			line-height: 64px;
			margin: 0 0 10px;
		}
		@include media("<desktop") {
			font-size: 48px;
			line-height: 54px;
		}
		@include media("<tablet") {
			font-size: 32px;
			line-height: 34px;
		}
		@include media("<phone") {
			font-size: 28px;
			line-height: 30px;
		}
		@include media("print") {
			font-size: 18px;
			line-height: 20px;
			margin: 0 0 12px;
		}
		span {
			display: inline-block;
			margin: 0 0 5px;
			padding: 20px 40px;
			background: $blue;
			font-size: 77px;
			line-height: 83px;
			@include media("<widescreen") {
				font-size: 58px;
				line-height: 64px;
				padding: 10px 20px;
			}
			@include media("<desktop") {
				font-size: 48px;
				line-height: 54px;
				padding: 5px 10px;
			}
			@include media("<tablet") {
				font-size: 32px;
				line-height: 34px;
			}
			@include media("<phone") {
				font-size: 28px;
				line-height: 30px;
			}
			@include media("print") {
				font-size: 18px;
				line-height: 20px;
				padding: 0;
			}
		}
	}
	p {
		margin: 0 0 60px;
		@include media("<widescreen") {
			margin: 0 0 40px;
		}
		@include media("<desktop") {
			margin: 0 0 20px;
		}
		@include media("print") {
			margin: 0 0 15px;
		}
	}
	.portfolio {
		color: #a3b1bf;
	}
	.code {
		color: $blue;
	}
	.content {
		color: #a3b1bf;
	}
	.container {
		@include media("<lg-widescreen") {
			max-width: 1040px;
		}
	}
	.item {
		@include media("<phone") {
			min-height: 300px;
		}
		@include media("print") {
			min-height: 0;
		}
	}
	.owl-controls {
		@include media("print") {
			display: none !important;
		}
		.owl-buttons {
			div {
				@include media("<widescreen") {
				top: auto;
				bottom: -45px;
				margin: 0;
				width: 40px;
				height: 40px;
				}
			}
		}
		.owl-pagination {
			background: $white;
			@include media("<widescreen") {
			position: absolute;
			transform: translate(-50%,0);
			padding: 15px 0 0;
			}
		}
	}
}